{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Avaliador </title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static 'css/loading_animation.css' %}">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    
    <script src= "{% static 'js/topic.js' %}"></script>

  </head>
  <body>
    <style>

      .result-container {
        display: inline-block;
        padding: 10px 20px 20px 20px;
        border: 1px solid darkblue;
        border-radius: 2px;
      }
      .result-container .title{ 
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .topic-input {
        max-width: 700px;
      }

      .hide {
        display: none;
      }

      #spinner {
        margin-top: 80px;
      }

    </style>
    
    <div class="jumbotron text-center">
        <h1>Topic Evaluator</h1>
    </div>

    <div class="topic-input container align-items-center text-center">  
        <form id='topic-form'>
            <div class="input-group">
            <span class="input-group-addon">Topic Words</span>
            <input id="topic" type="text" class="form-control" name="topico" placeholder="Add the space-separated topic words here. Then, press play.">
            <div class="input-group-btn">
                <button id = "btnSubmit" class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-play"></i>
                </button>
            </div>
            </div>
    

      </form>
        
        <div id='spinner' ><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <br>
        
        <div class="result-container hide">
          <div class="title">API Response:</div>
          <div id='result'></div>
      
        </div>
   
    </div>
    
   
  </body>
  <script>
    const form_handler = new FormHandler;
    $("#topic-form").submit(function(e){
        e.preventDefault();
        form_handler.submit();
    });
    $("#topic").attr('oninput', 'form_handler.topic_changed();');
  </script>
</html>